html,body{
    margin:0 ;
    padding: 0;
    scroll-behavior: smooth;

}

/* Navbar */

#navbar .navbar-container{
    display: flex;
    justify-content: space-between;
    margin:24px 24px 0 24px;
}

#navbar .navbar-logo img{
 width: 64px;
 height: 48px;
}

#navbar .navbar-links{
    align-self: center;
}

#navbar .navbar-links ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    column-gap: 40px;

}

#navbar .navbar-links ul li a{
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #30343F;
    opacity: 0.6;
}

#navbar .navbar-links ul li a:hover{
    opacity: 1;
    padding-bottom: 8px;
    border-bottom: 1px dashed #30343F;
}

#navbar .navbar-links ul li .button-link, #navbar .navbar-links ul li .button-link:hover{
    padding: 16px 64px;
    text-align: center;
    background-color: #1E2749;
    color: #fff;
    opacity: 1;
    border-radius: 8px;
    border: none;
}

/* Header section */
#header{
    margin-top: 40px;
    background-image: url(images/header-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#header .mid-aligned-container{
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#header .mid-aligned-container h1{
    font-family: Poppins, sans-serif;
    font-weight: 900;
    text-align: center;
    font-size: 80px;
    color: #30343F;
    margin: 0;
}

#header .mid-aligned-container .highlight-text{
    color: #273469;
    text-decoration: underline;
    text-decoration-style:wavy;
}

#header .mid-aligned-container .button-link,#header .mid-aligned-container .button-link:hover {
    padding: 16px 64px;
    text-align: center;
    background-color: #1E2749;
    color: #fff;
    opacity: 1;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    margin-top: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/* What is no-code */
#what-is-no-code{
    margin-top: 120px;
}

#what-is-no-code .fluid-container{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}

#what-is-no-code .fluid-container .no-code-content{
    width: 40%;
    align-self: center;
}

p{
    font-family: Poppins, sans-serif;
    margin: 0;
}

.caption-text{
    color: #273469;
    font-size: 14px;
    font-weight: 600;
}

.body-text{
    font-size: 18px;
    font-weight: normal; 
    color: #30343F;
}

#what-is-no-code .fluid-container .bubble-template-image{
    width: 60%;
    display: flex;
    justify-content: right;
}

#what-is-no-code .body-text{
    margin-top: 24px;
}

#what-is-no-code .link-text{
    margin-top: 40px;
}
#what-is-no-code .link-text a{
    font-family: Poppins, sans-serif;
    color: #273469;
    text-decoration: underline;
}

/* Curriculum */

#curriculum{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
   align-items: center;
}

#curriculum .mid-aligned-container{
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#curriculum .mid-aligned-container .mid-container-content{
    max-width: 900px;
    text-align: center;
   
}

#curriculum .mid-aligned-container .mid-container-content .body-text{
    margin-top: 24px; 
}

#curriculum .mid-aligned-container .curriculum-card-row{
    display: flex;
    column-gap: 24px;
    margin-top: 40px;
}

#curriculum .mid-aligned-container .curriculum-card-row .curriculum-card{
    padding: 24px;
    background-color: #FAFAFF;
    border-radius: 8px;
}

#curriculum .mid-aligned-container .curriculum-card-row .curriculum-card .body-text{
    font-size: 16px;
    margin-top: 24px;
}

/* more-courses */

#more-courses{
    margin-top: 120px;
    background-color: #FAFAFF;
    padding: 40px 16px;
}

#more-courses .mid-aligned-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#more-courses .mid-aligned-container .mid-container-content{
    max-width: 900px;
    text-align: center;
}

#more-courses .mid-aligned-container .mid-container-content .body-text{
    margin-top: 24px;
}

#more-courses .more-courses-cards-row{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    margin-top: 40px;
}

#more-courses .more-courses-cards-row .more-courses-card{
    padding: 30px 16px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

#more-courses .more-courses-cards-row .more-courses-card .more-course-image img{
    width: 240px;
    height: 240px;
}

#more-courses .more-courses-cards-row .more-courses-card .more-course-content{
    align-self: center;
}

#more-courses .more-courses-cards-row .more-courses-card .more-course-content h3{
    font-size: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: #30343F;
}

#more-courses .more-courses-cards-row .more-courses-card .more-course-content .body-text-small{
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: normal;
    color: #30343F;
    margin-top: 16px;
}

#more-courses .more-courses-cards-row .more-courses-card .more-course-content a{
    padding: 8px;
    display: block;
    text-align: center;
    background-color: #1E2749;
    color: #fff;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    margin-top: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#more-courses .more-courses-cards-row .more-courses-card .more-course-content a:hover{
    padding: 8px;
    display: block;
    text-align: center;
    background-color: #1E2749;
    color: #fff;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    margin-top: 24px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#more-courses .more-courses-cards-row .more-courses-card .more-course-content .body-text-extra-small{
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #30343F;
   
}

/* Enroll in course */

#enroll-in-course{
    margin-top: 120px;
    background: url(images/enroll-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

#enroll-in-course .fluid-container{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

#enroll-in-course .fluid-container .enroll-content{
    width: 40%;
}

#enroll-in-course .fluid-container .enroll-button{
    width: 40%;
    display: flex;
    align-self: center;
    justify-content: center;
}

#enroll-in-course .fluid-container .enroll-content .body-text{
    margin-top: 24px;
}
#enroll-in-course .fluid-container .enroll-content h1{
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #30343F;
    margin: 24px 0 0 0;
    padding: 0;

}

#enroll-in-course .fluid-container .enroll-button .button-link,#enroll-in-course .fluid-container .enroll-button .button-link:hover{
    padding: 16px 64px;
    text-align: center;
    background-color: #1E2749;
    color: #fff;
    opacity: 1;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    margin-top: 40px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

/* Footer */

#footer{
    background-color: #1E2749;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

#footer .fluid-container{
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

#footer .fluid-container .caption-text{
    color: #fff;
}
#footer .fluid-container h1{
    font-family: Poppins, sans-serif;
    font-weight: 900;
    font-size: 64px;
    color: #fff;
    margin: 24px 0 0 0;
    
}

#footer .fluid-container .contact-details{
    align-self: center;
}

#footer .fluid-container .body-text{
    color: #fff;
}

#footer .fluid-container .link-text{
    margin-top: 16px;
}

#footer .fluid-container .link-text a{
    color: #fff;
    text-decoration: underline;
    text-decoration-style: wavy;
}